extends layout

block content
  if (route === 'index')
    h1 首页
    p #{router}
  - var items = [{name:'首页',route:'/'},{name:'关于我们',route:'/about'}]
  each item, i in items
    li
      a(href=item.route) #{item.name}
