doctype html
html
    head
        title= doc_content.title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .blog-masthead
            .container
                nav.blog-nav
                    a.blog-nav-item(href='/', class=route==='index'?'active':'') 首页
                    a.blog-nav-item(href='/about', class=route==='about'?'active':'') ABOUT

        .container
            .p10_0
                block content

        footer.blog-footer
            p Blog template built for
                a(href='http://www.bootcss.com/')  Bootstarp
                |  by
                a(href='javascript:;')  @ab1

